@media only screen and (max-width: 1400px) {
  .logobar {
    display: flex !important;
    width: 100%;
  }
  .toolbar{
    display: block; 
    padding: 10px;
  }
  .tool {
    display: flex;
    padding: 10px;
    justify-content: center;
  }
  .container-subbody{
    display: flex;
    flex-wrap: wrap;
  }
  .path{
    padding: 0px;
    height: 50px;
  }
  .production{
    display: flex;
    flex-direction: column;
    padding-bottom: 160px;
  }
  .production img{
    width: 20%;
    height: auto;
  }
  .sub_body .title{
    justify-content: flex-start;
    display: flex;
  }
  .sub_body .title p {
    padding: 10px;
  }
  .cont_prod p{
    width: 100%;
    height:35px ;
    font-weight: bold;
    color: #361D08;
    font-size: 21px;
  }
  .container_end p{
    font-size: 14px;
  }
  .map{
    display: none;
  }
  .footer{
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .Dad{
    display: block;
  }
  .j1 {
    flex-direction: column;
  }
  .vertical-line {
    display: none;
  }
  .research {
    display: flex;
    width: 85%;
    margin-left: 80px;
  }
  .logotool img{
    height: 80px;
    width: auto;
  }
  .web{
    width: 100%;
  }
  .break{
    flex-basis: 100%;
  }
  .toolbar {
    display:flex;
    flex-wrap: wrap;
    height:200px;
    justify-content: space-between;
  }

  .menu_drop_down.off {
    display: none;
  }

  .menu_drop_down.on {
    display: block;
  }

  .menu_drop_down .toolbar-item {
    width: 100%;
    height: 50px;
    background-color: #f1efe2;
    border-bottom: 2px solid #000;
  }
  
}
@media only screen and (max-width: 1000px) {
  .logobar {
    display: none !important;
    width: 100%;
    margin: 5px;  
  }

  .tool {
    display: none;
  }
  .container-subbody{
    display: flex;
    flex-wrap: wrap;
    height: 1100px;
  }
  .container-subbody .title h1{
    font-size :8vw;
  }
  .production{
    display: flex;
    flex-direction: column;
    height: 320px;
    padding-bottom: 0px;
  }
  .production .choose_prod{
    display: flex;
    flex-direction: column;
    height: 250px;
    padding-top: 5px;
  }
  #prod_name{
    width: 100%;
  }
  #prod_kind{
    margin-top: 5px;
    width: 100%;
  }
  #pro_quantity{
    width: 100%;
  }
  .production img{
    width: 20%;
    height: auto;
  }
  .sub_body .title{
    justify-content: space-between;
    display: flex;
    padding: 10px;
  }
  .sub_body .search{
    justify-content: center;
  }
  .sub_body{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 30px;
    padding-bottom: 10px;
    justify-content:center;
  }
  .sub_body .title div {
    padding: 0px;
  }
  .cont_prod p{
    width: 100%;
    height:auto ;
    font-weight: bold;
    color: #361D08;
    font-size: 21px;
  }
  .container_end p{
    font-size: 10px;
  }
  .map{
    display: none;
  }
  .footer{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .Dad{
    display: block;
  }
  .j1 {
    flex-direction: column;
  }
  .vertical-line {
    display: none;
  }
  .research {
    display: flex;
    width: 90%;
    margin: 10px;
  }
  .logotool img{
    height: 80px;
    width: auto;
  }
  .web{
    width: 100%;
  }
  .break{
    flex-basis: 100%;
  }
  .toolbar {
    display:flex;
    flex-wrap: wrap;
    height:150px;
    justify-content: space-between;
  }
  .button_toggle_menu {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .menu_drop_down.off {
    display: none;
  }

  .menu_drop_down.on {
    display: block;
  }

  .menu_drop_down .toolbar-item {
    width: 100%;
    height: 50px;
    background-color: #f1efe2;
    border-bottom: 2px solid #000;
  }
  
}